header{
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  main{
    width: 800px;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }

  header{
    margin: auto;
  }

  section p {
    margin: auto;
  }

  aside{
    position: fixed;
    right: 0;
    top: 25vh;
  }

  
  